fillTypes.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="g_hyphen">
        <xs:restriction base="xs:string">
            <xs:pattern value="-"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="g_float_or_hyphen">
        <xs:union memberTypes="xs:float g_hyphen"/>
    </xs:simpleType>

    <xs:simpleType name="g_vector_float">
        <xs:list itemType="g_float_or_hyphen"/>
    </xs:simpleType>

    <xs:simpleType name="g_string">
        <xs:annotation><xs:appinfo><typeStr>String</typeStr></xs:appinfo></xs:annotation>
        <xs:restriction base="xs:string"/>
        <xs:annotation><xs:appinfo><typeStr>String</typeStr></xs:appinfo></xs:annotation>
    </xs:simpleType>

    <xs:simpleType name="g_l10n_string">
        <xs:annotation><xs:appinfo><typeStr>String or l10n key</typeStr></xs:appinfo></xs:annotation>
        <xs:restriction base="xs:string"/>
        <xs:annotation><xs:appinfo><typeStr>String or l10n key</typeStr></xs:appinfo></xs:annotation>
    </xs:simpleType>

    <xs:simpleType name="g_float">
        <xs:annotation><xs:appinfo><typeStr>Float</typeStr></xs:appinfo></xs:annotation>
        <xs:restriction base="xs:float"/>
        <xs:annotation><xs:appinfo><typeStr>Float</typeStr></xs:appinfo></xs:annotation>
    </xs:simpleType>

    <xs:simpleType name="g_angle">
        <xs:annotation><xs:appinfo><typeStr>Angle</typeStr></xs:appinfo></xs:annotation>
        <xs:restriction base="xs:float"/>
        <xs:annotation><xs:appinfo><typeStr>Angle</typeStr></xs:appinfo></xs:annotation>
    </xs:simpleType>

    <xs:simpleType name="g_time">
        <xs:annotation><xs:appinfo><typeStr>Time in seconds</typeStr></xs:appinfo></xs:annotation>
        <xs:restriction base="xs:float"/>
        <xs:annotation><xs:appinfo><typeStr>Time in seconds</typeStr></xs:appinfo></xs:annotation>
    </xs:simpleType>

    <xs:simpleType name="g_int">
        <xs:annotation><xs:appinfo><typeStr>Integer</typeStr></xs:appinfo></xs:annotation>
        <xs:restriction base="xs:integer"/>
        <xs:annotation><xs:appinfo><typeStr>Integer</typeStr></xs:appinfo></xs:annotation>
    </xs:simpleType>

    <xs:simpleType name="g_bool">
        <xs:annotation><xs:appinfo><typeStr>Boolean</typeStr></xs:appinfo></xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="true|false"/>
        </xs:restriction>
        <xs:annotation><xs:appinfo><typeStr>Boolean</typeStr></xs:appinfo></xs:annotation>
    </xs:simpleType>

    <xs:simpleType name="g_node_index">
        <xs:annotation><xs:appinfo><typeStr>Index to i3d node or i3d mapping identifier</typeStr></xs:appinfo></xs:annotation>
        <xs:restriction base="xs:string"/>
        <xs:annotation><xs:appinfo><typeStr>Index to i3d node or i3d mapping identifier</typeStr></xs:appinfo></xs:annotation>
    </xs:simpleType>

    <xs:simpleType name="g_node_indices">
        <xs:annotation><xs:appinfo><typeStr>List of indices to i3d nodes or i3d mapping identifiers</typeStr></xs:appinfo></xs:annotation>
        <xs:restriction base="xs:string"/>
        <xs:annotation><xs:appinfo><typeStr>List of indices to i3d nodes or i3d mapping identifiers</typeStr></xs:appinfo></xs:annotation>
    </xs:simpleType>

    <xs:simpleType name="g_vector_2">
        <xs:annotation><xs:appinfo><typeStr>Multiple values (x, y)</typeStr></xs:appinfo></xs:annotation>
        <xs:restriction base="g_vector_float">
            <xs:pattern value="\S+ \S+"/>
        </xs:restriction>
        <xs:annotation><xs:appinfo><typeStr>Multiple values (x, y)</typeStr></xs:appinfo></xs:annotation>
    </xs:simpleType>

    <xs:simpleType name="g_vector_3">
        <xs:annotation><xs:appinfo><typeStr>Multiple values (x, y, z)</typeStr></xs:appinfo></xs:annotation>
        <xs:restriction base="g_vector_float">
            <xs:pattern value="\S+ \S+ \S+"/>
        </xs:restriction>
        <xs:annotation><xs:appinfo><typeStr>Multiple values (x, y, z)</typeStr></xs:appinfo></xs:annotation>
    </xs:simpleType>

    <xs:simpleType name="g_vector_4">
        <xs:annotation><xs:appinfo><typeStr>Multiple values (x, y, z, w)</typeStr></xs:appinfo></xs:annotation>
        <xs:restriction base="g_vector_float">
            <xs:pattern value="\S+ \S+ \S+ \S+"/>
        </xs:restriction>
        <xs:annotation><xs:appinfo><typeStr>Multiple values (x, y, z, w)</typeStr></xs:appinfo></xs:annotation>
    </xs:simpleType>

    <xs:simpleType name="g_vector_n">
        <xs:annotation><xs:appinfo><typeStr>Multiple values</typeStr></xs:appinfo></xs:annotation>
        <xs:restriction base="g_vector_float"/>
        <xs:annotation><xs:appinfo><typeStr>Multiple values</typeStr></xs:appinfo></xs:annotation>
    </xs:simpleType>

    <xs:simpleType name="g_vector_trans">
        <xs:annotation><xs:appinfo><typeStr>Translation values (x, y, z)</typeStr></xs:appinfo></xs:annotation>
        <xs:restriction base="g_vector_float">
            <xs:pattern value="\S+ \S+ \S+"/>
        </xs:restriction>
        <xs:annotation><xs:appinfo><typeStr>Translation values (x, y, z)</typeStr></xs:appinfo></xs:annotation>
    </xs:simpleType>

    <xs:simpleType name="g_vector_rot">
        <xs:annotation><xs:appinfo><typeStr>Rotation values (x, y, z)</typeStr></xs:appinfo></xs:annotation>
        <xs:restriction base="g_vector_float">
            <xs:pattern value="\S+ \S+ \S+"/>
        </xs:restriction>
        <xs:annotation><xs:appinfo><typeStr>Rotation values (x, y, z)</typeStr></xs:appinfo></xs:annotation>
    </xs:simpleType>

    <xs:simpleType name="g_vector_rot_2">
        <xs:annotation><xs:appinfo><typeStr>Rotation values (x, y)</typeStr></xs:appinfo></xs:annotation>
        <xs:restriction base="g_vector_float">
            <xs:pattern value="\S+ \S+"/>
        </xs:restriction>
        <xs:annotation><xs:appinfo><typeStr>Rotation values (x, y)</typeStr></xs:appinfo></xs:annotation>
    </xs:simpleType>

    <xs:simpleType name="g_vector_scale">
        <xs:annotation><xs:appinfo><typeStr>Scale values (x, y, z)</typeStr></xs:appinfo></xs:annotation>
        <xs:restriction base="g_vector_float">
            <xs:pattern value="\S+ \S+ \S+"/>
        </xs:restriction>
        <xs:annotation><xs:appinfo><typeStr>Scale values (x, y, z)</typeStr></xs:appinfo></xs:annotation>
    </xs:simpleType>

    <xs:simpleType name="g_color">
        <xs:annotation><xs:appinfo><typeStr>Color values (r, g, b) or brand color id</typeStr></xs:appinfo></xs:annotation>
        <xs:restriction base="xs:string"/>
        <xs:annotation><xs:appinfo><typeStr>Color values (r, g, b) or brand color id</typeStr></xs:appinfo></xs:annotation>
    </xs:simpleType>

    <xs:complexType name="SoundManager_sound">
        <xs:choice maxOccurs="unbounded">
            <xs:element name="loopSynthesisLoad" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:choice maxOccurs="unbounded">
                        <xs:element name="modifier" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:attribute name="modifiedValue" type="g_float">
                                    <xs:annotation><xs:documentation xml:lang="en">Change that is applied on sample value</xs:documentation></xs:annotation>
                                </xs:attribute>
                                <xs:attribute name="type" type="g_string">
                                    <xs:annotation><xs:documentation xml:lang="en">Modifier type</xs:documentation></xs:annotation>
                                </xs:attribute>
                                <xs:attribute name="value" type="g_float">
                                    <xs:annotation><xs:documentation xml:lang="en">Source value of modifier type</xs:documentation></xs:annotation>
                                </xs:attribute>
                            </xs:complexType>
                        </xs:element>
                    </xs:choice>
                </xs:complexType>
            </xs:element>
            <xs:element name="loopSynthesisRpm" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:choice maxOccurs="unbounded">
                        <xs:element name="modifier" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:attribute name="modifiedValue" type="g_float">
                                    <xs:annotation><xs:documentation xml:lang="en">Change that is applied on sample value</xs:documentation></xs:annotation>
                                </xs:attribute>
                                <xs:attribute name="type" type="g_string">
                                    <xs:annotation><xs:documentation xml:lang="en">Modifier type</xs:documentation></xs:annotation>
                                </xs:attribute>
                                <xs:attribute name="value" type="g_float">
                                    <xs:annotation><xs:documentation xml:lang="en">Source value of modifier type</xs:documentation></xs:annotation>
                                </xs:attribute>
                            </xs:complexType>
                        </xs:element>
                    </xs:choice>
                </xs:complexType>
            </xs:element>
            <xs:element name="lowpassCutoffFrequency" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:attribute name="indoor" type="g_float" default="5000">
                        <xs:annotation><xs:documentation xml:lang="en">Indoor lowpass cutoff frequency</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="outdoor" type="g_float" default="5000">
                        <xs:annotation><xs:documentation xml:lang="en">Outdoor lowpass cutoff frequency</xs:documentation></xs:annotation>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
            <xs:element name="lowpassGain" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:choice maxOccurs="unbounded">
                        <xs:element name="modifier" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:attribute name="modifiedValue" type="g_float">
                                    <xs:annotation><xs:documentation xml:lang="en">Change that is applied on sample value</xs:documentation></xs:annotation>
                                </xs:attribute>
                                <xs:attribute name="type" type="g_string">
                                    <xs:annotation><xs:documentation xml:lang="en">Modifier type</xs:documentation></xs:annotation>
                                </xs:attribute>
                                <xs:attribute name="value" type="g_float">
                                    <xs:annotation><xs:documentation xml:lang="en">Source value of modifier type</xs:documentation></xs:annotation>
                                </xs:attribute>
                            </xs:complexType>
                        </xs:element>
                    </xs:choice>
                    <xs:attribute name="indoor" type="g_float" default="0.8">
                        <xs:annotation><xs:documentation xml:lang="en">Indoor lowpass gain</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="outdoor" type="g_float" default="1">
                        <xs:annotation><xs:documentation xml:lang="en">Outdoor lowpass gain</xs:documentation></xs:annotation>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
            <xs:element name="lowpassResonance" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:attribute name="indoor" type="g_float" default="2">
                        <xs:annotation><xs:documentation xml:lang="en">Indoor lowpass resonance</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="outdoor" type="g_float" default="2">
                        <xs:annotation><xs:documentation xml:lang="en">Outdoor lowpass resonance</xs:documentation></xs:annotation>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
            <xs:element name="pitch" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:choice maxOccurs="unbounded">
                        <xs:element name="modifier" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:attribute name="modifiedValue" type="g_float">
                                    <xs:annotation><xs:documentation xml:lang="en">Change that is applied on sample value</xs:documentation></xs:annotation>
                                </xs:attribute>
                                <xs:attribute name="type" type="g_string">
                                    <xs:annotation><xs:documentation xml:lang="en">Modifier type</xs:documentation></xs:annotation>
                                </xs:attribute>
                                <xs:attribute name="value" type="g_float">
                                    <xs:annotation><xs:documentation xml:lang="en">Source value of modifier type</xs:documentation></xs:annotation>
                                </xs:attribute>
                            </xs:complexType>
                        </xs:element>
                    </xs:choice>
                    <xs:attribute name="indoor" type="g_float" default="1">
                        <xs:annotation><xs:documentation xml:lang="en">Indoor pitch</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="outdoor" type="g_float" default="1">
                        <xs:annotation><xs:documentation xml:lang="en">Outdoor pitch</xs:documentation></xs:annotation>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
            <xs:element name="randomization" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="isInside" type="g_bool" default="true">
                        <xs:annotation><xs:documentation xml:lang="en">Randomization is applied inside</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="isOutside" type="g_bool" default="true">
                        <xs:annotation><xs:documentation xml:lang="en">Randomization is applied outside</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="maxLowpassGain" type="g_float">
                        <xs:annotation><xs:documentation xml:lang="en">Max lowpass gain</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="maxPitch" type="g_float">
                        <xs:annotation><xs:documentation xml:lang="en">Max pitch</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="maxVolume" type="g_float">
                        <xs:annotation><xs:documentation xml:lang="en">Max volume</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="minLowpassGain" type="g_float">
                        <xs:annotation><xs:documentation xml:lang="en">Max lowpass gain</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="minPitch" type="g_float">
                        <xs:annotation><xs:documentation xml:lang="en">Max pitch</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="minVolume" type="g_float">
                        <xs:annotation><xs:documentation xml:lang="en">Min volume</xs:documentation></xs:annotation>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
            <xs:element name="sourceRandomization" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="file" type="g_string">
                        <xs:annotation><xs:documentation xml:lang="en">Path to sound sample</xs:documentation></xs:annotation>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
            <xs:element name="volume" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:choice maxOccurs="unbounded">
                        <xs:element name="modifier" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:attribute name="modifiedValue" type="g_float">
                                    <xs:annotation><xs:documentation xml:lang="en">Change that is applied on sample value</xs:documentation></xs:annotation>
                                </xs:attribute>
                                <xs:attribute name="type" type="g_string">
                                    <xs:annotation><xs:documentation xml:lang="en">Modifier type</xs:documentation></xs:annotation>
                                </xs:attribute>
                                <xs:attribute name="value" type="g_float">
                                    <xs:annotation><xs:documentation xml:lang="en">Source value of modifier type</xs:documentation></xs:annotation>
                                </xs:attribute>
                            </xs:complexType>
                        </xs:element>
                    </xs:choice>
                    <xs:attribute name="indoor" type="g_float" default="0.8">
                        <xs:annotation><xs:documentation xml:lang="en">Indoor volume</xs:documentation></xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="outdoor" type="g_float" default="1">
                        <xs:annotation><xs:documentation xml:lang="en">Outdoor volume</xs:documentation></xs:annotation>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
        </xs:choice>
        <xs:attribute name="debug" type="g_bool" default="false">
            <xs:annotation><xs:documentation xml:lang="en">Flag to enable debug rendering</xs:documentation></xs:annotation>
        </xs:attribute>
        <xs:attribute name="fadeIn" type="g_float" default="0">
            <xs:annotation><xs:documentation xml:lang="en">Fade in time in seconds</xs:documentation></xs:annotation>
        </xs:attribute>
        <xs:attribute name="fadeOut" type="g_float" default="0">
            <xs:annotation><xs:documentation xml:lang="en">Fade out time in seconds</xs:documentation></xs:annotation>
        </xs:attribute>
        <xs:attribute name="file" type="g_string">
            <xs:annotation><xs:documentation xml:lang="en">Path to sound sample</xs:documentation></xs:annotation>
        </xs:attribute>
        <xs:attribute name="innerRadius" type="g_float" default="80">
            <xs:annotation><xs:documentation xml:lang="en">Inner radius</xs:documentation></xs:annotation>
        </xs:attribute>
        <xs:attribute name="isLocalSound" type="g_bool" default="false">
            <xs:annotation><xs:documentation xml:lang="en">While set for vehicle sounds it will only play for the player currently using the vehicle</xs:documentation></xs:annotation>
        </xs:attribute>
        <xs:attribute name="linkNode" type="g_node_index">
            <xs:annotation><xs:documentation xml:lang="en">Link node for 3d sound</xs:documentation></xs:annotation>
        </xs:attribute>
        <xs:attribute name="linkNodeOffset" type="g_vector_trans">
            <xs:annotation><xs:documentation xml:lang="en">Sound source will be offset by this value to the link node</xs:documentation></xs:annotation>
        </xs:attribute>
        <xs:attribute name="loops" type="g_int" default="1">
            <xs:annotation><xs:documentation xml:lang="en">Number of loops (0 = infinite)</xs:documentation></xs:annotation>
        </xs:attribute>
        <xs:attribute name="loopSynthesisRPMRatio" type="g_float" default="1">
            <xs:annotation><xs:documentation xml:lang="en">Ratio between rpm in the gls file and actual rpm of the motor (e.g. 0.9: max. rpm in the gls file will be reached at 90% of motor rpm)</xs:documentation></xs:annotation>
        </xs:attribute>
        <xs:attribute name="lowpassGainScale" type="g_float" default="1">
            <xs:annotation><xs:documentation xml:lang="en">Additional lowpass gain that is applied on the volume attributes</xs:documentation></xs:annotation>
        </xs:attribute>
        <xs:attribute name="outerRadius" type="g_float" default="5">
            <xs:annotation><xs:documentation xml:lang="en">Outer radius</xs:documentation></xs:annotation>
        </xs:attribute>
        <xs:attribute name="parent" type="g_string">
            <xs:annotation><xs:documentation xml:lang="en">Parent sample for heredity</xs:documentation></xs:annotation>
        </xs:attribute>
        <xs:attribute name="pitchScale" type="g_float" default="1">
            <xs:annotation><xs:documentation xml:lang="en">Additional pitch that is applied on the volume attributes</xs:documentation></xs:annotation>
        </xs:attribute>
        <xs:attribute name="supportsReverb" type="g_bool" default="true">
            <xs:annotation><xs:documentation xml:lang="en">Flag to disable reverb</xs:documentation></xs:annotation>
        </xs:attribute>
        <xs:attribute name="template" type="g_string">
            <xs:annotation><xs:documentation xml:lang="en">Sound template name</xs:documentation></xs:annotation>
        </xs:attribute>
        <xs:attribute name="volumeScale" type="g_float" default="1">
            <xs:annotation><xs:documentation xml:lang="en">Additional scale that is applied on the volume attributes</xs:documentation></xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:element name="map">
        <xs:complexType>
            <xs:all>
                <xs:element name="fillTypeCategories" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:choice maxOccurs="unbounded">
                            <xs:element name="fillTypeCategory" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="g_string">
                                            <xs:attribute name="name" type="g_string">
                                                <xs:annotation><xs:documentation xml:lang="en">Name of category</xs:documentation></xs:annotation>
                                            </xs:attribute>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="fillTypeConverters" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:choice maxOccurs="unbounded">
                            <xs:element name="fillTypeConverter" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:choice maxOccurs="unbounded">
                                        <xs:element name="converter" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:attribute name="factor" type="g_float">
                                                    <xs:annotation><xs:documentation xml:lang="en">Multiplied by factor</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="from" type="g_string">
                                                    <xs:annotation><xs:documentation xml:lang="en">From fill type</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="to" type="g_string">
                                                    <xs:annotation><xs:documentation xml:lang="en">To fill type</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:choice>
                                    <xs:attribute name="name" type="g_string">
                                        <xs:annotation><xs:documentation xml:lang="en">Converter name</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="fillTypes" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:choice maxOccurs="unbounded">
                            <xs:element name="fillType" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element name="economy" minOccurs="0" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:all>
                                                    <xs:element name="factors" minOccurs="0" maxOccurs="1">
                                                        <xs:complexType>
                                                            <xs:choice maxOccurs="unbounded">
                                                                <xs:element name="factor" minOccurs="0" maxOccurs="unbounded">
                                                                    <xs:complexType>
                                                                        <xs:attribute name="period" type="g_int">
                                                                            <xs:annotation><xs:documentation xml:lang="en">Period index</xs:documentation></xs:annotation>
                                                                        </xs:attribute>
                                                                        <xs:attribute name="value" type="g_float">
                                                                            <xs:annotation><xs:documentation xml:lang="en">Price factor to apply in this period</xs:documentation></xs:annotation>
                                                                        </xs:attribute>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:choice>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:all>
                                                <xs:attribute name="pricePerLiter" type="g_float">
                                                    <xs:annotation><xs:documentation xml:lang="en">Price per liter</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="effects" minOccurs="0" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:attribute name="fillSmokeColor" type="g_vector_4">
                                                    <xs:annotation><xs:documentation xml:lang="en">Color of smoke effects</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="fruitSmokeColor" type="g_vector_4">
                                                    <xs:annotation><xs:documentation xml:lang="en">Color of fruit smoke effects</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="prioritizedEffectType" type="g_string" default="ShaderPlaneEffect">
                                                    <xs:annotation><xs:documentation xml:lang="en">Defines which effect type is priorized in e.g. unloading effects</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="image" minOccurs="0" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:attribute name="hud" type="g_string">
                                                    <xs:annotation><xs:documentation xml:lang="en">Path to hud image</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="pallet" minOccurs="0" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:attribute name="filename" type="g_string">
                                                    <xs:annotation><xs:documentation xml:lang="en">Pallet xml filename which is spawned on unloading</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="physics" minOccurs="0" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:attribute name="massPerLiter" type="g_float">
                                                    <xs:annotation><xs:documentation xml:lang="en">Mass per liter/unit in kilograms</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="maxPhysicalSurfaceAngle" type="g_float">
                                                    <xs:annotation><xs:documentation xml:lang="en">Max physical surface angle used on fill volumes</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="textures" minOccurs="0" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:attribute name="diffuse" type="g_string">
                                                    <xs:annotation><xs:documentation xml:lang="en">Path to fill plane diffuse map</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="distance" type="g_string">
                                                    <xs:annotation><xs:documentation xml:lang="en">Path to fill plane distance diffuse map</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="normal" type="g_string">
                                                    <xs:annotation><xs:documentation xml:lang="en">Path to fill plane normal map</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="specular" type="g_string">
                                                    <xs:annotation><xs:documentation xml:lang="en">Path to fill plane specular map</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:all>
                                    <xs:attribute name="achievementName" type="g_string">
                                        <xs:annotation><xs:documentation xml:lang="en">Name of linked archivement</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="fillPlaneColors" type="g_vector_3" default="1 1 1">
                                        <xs:annotation><xs:documentation xml:lang="en">Color of fill plane used in animal husbandry</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="name" type="g_string">
                                        <xs:annotation><xs:documentation xml:lang="en">Name of fill type</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="showOnPriceTable" type="g_bool">
                                        <xs:annotation><xs:documentation xml:lang="en">Show fill type in pricing menu</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="title" type="g_string">
                                        <xs:annotation><xs:documentation xml:lang="en">Display name of fill type</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="unitShort" type="g_string">
                                        <xs:annotation><xs:documentation xml:lang="en">Unit short localization key</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="fillTypeSounds" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:choice maxOccurs="unbounded">
                            <xs:element name="fillTypeSound" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element name="sound" type="SoundManager_sound" minOccurs="0" maxOccurs="1"/>
                                    </xs:all>
                                    <xs:attribute name="fillTypes" type="g_string">
                                        <xs:annotation><xs:documentation xml:lang="en">list of fillTypes, space separated</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="isDefault" type="g_bool" default="false">
                                        <xs:annotation><xs:documentation xml:lang="en">Is default sound</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="parentFile" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="attributes" minOccurs="0" maxOccurs="1">
                                <xs:complexType>
                                    <xs:choice maxOccurs="unbounded">
                                        <xs:element name="clearList" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:attribute name="keepIndex" type="g_int">
                                                    <xs:annotation><xs:documentation xml:lang="en">Index of list to keep</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="path" type="g_string">
                                                    <xs:annotation><xs:documentation xml:lang="en">List to clear but keep one item</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="remove" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:attribute name="path" type="g_string">
                                                    <xs:annotation><xs:documentation xml:lang="en">Path to remove from parent xml</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="set" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:attribute name="path" type="g_string">
                                                    <xs:annotation><xs:documentation xml:lang="en">Path change in parent xml</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="value" type="g_string">
                                                    <xs:annotation><xs:documentation xml:lang="en">Target value to set in parent file</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:choice>
                                </xs:complexType>
                            </xs:element>
                        </xs:all>
                        <xs:attribute name="xmlFilename" type="g_string">
                            <xs:annotation><xs:documentation xml:lang="en">Remove vehicle if unit empty</xs:documentation></xs:annotation>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:all>
        </xs:complexType>
    </xs:element>
</xs:schema>
