mapMotionPathEffects.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="g_hyphen">
        <xs:restriction base="xs:string">
            <xs:pattern value="-"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="g_float_or_hyphen">
        <xs:union memberTypes="xs:float g_hyphen"/>
    </xs:simpleType>

    <xs:simpleType name="g_vector_float">
        <xs:list itemType="g_float_or_hyphen"/>
    </xs:simpleType>

    <xs:simpleType name="g_string">
        <xs:annotation><xs:appinfo><typeStr>String</typeStr></xs:appinfo></xs:annotation>
        <xs:restriction base="xs:string"/>
        <xs:annotation><xs:appinfo><typeStr>String</typeStr></xs:appinfo></xs:annotation>
    </xs:simpleType>

    <xs:simpleType name="g_l10n_string">
        <xs:annotation><xs:appinfo><typeStr>String or l10n key</typeStr></xs:appinfo></xs:annotation>
        <xs:restriction base="xs:string"/>
        <xs:annotation><xs:appinfo><typeStr>String or l10n key</typeStr></xs:appinfo></xs:annotation>
    </xs:simpleType>

    <xs:simpleType name="g_float">
        <xs:annotation><xs:appinfo><typeStr>Float</typeStr></xs:appinfo></xs:annotation>
        <xs:restriction base="xs:float"/>
        <xs:annotation><xs:appinfo><typeStr>Float</typeStr></xs:appinfo></xs:annotation>
    </xs:simpleType>

    <xs:simpleType name="g_angle">
        <xs:annotation><xs:appinfo><typeStr>Angle</typeStr></xs:appinfo></xs:annotation>
        <xs:restriction base="xs:float"/>
        <xs:annotation><xs:appinfo><typeStr>Angle</typeStr></xs:appinfo></xs:annotation>
    </xs:simpleType>

    <xs:simpleType name="g_time">
        <xs:annotation><xs:appinfo><typeStr>Time in seconds</typeStr></xs:appinfo></xs:annotation>
        <xs:restriction base="xs:float"/>
        <xs:annotation><xs:appinfo><typeStr>Time in seconds</typeStr></xs:appinfo></xs:annotation>
    </xs:simpleType>

    <xs:simpleType name="g_int">
        <xs:annotation><xs:appinfo><typeStr>Integer</typeStr></xs:appinfo></xs:annotation>
        <xs:restriction base="xs:integer"/>
        <xs:annotation><xs:appinfo><typeStr>Integer</typeStr></xs:appinfo></xs:annotation>
    </xs:simpleType>

    <xs:simpleType name="g_bool">
        <xs:annotation><xs:appinfo><typeStr>Boolean</typeStr></xs:appinfo></xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="true|false"/>
        </xs:restriction>
        <xs:annotation><xs:appinfo><typeStr>Boolean</typeStr></xs:appinfo></xs:annotation>
    </xs:simpleType>

    <xs:simpleType name="g_node_index">
        <xs:annotation><xs:appinfo><typeStr>Index to i3d node or i3d mapping identifier</typeStr></xs:appinfo></xs:annotation>
        <xs:restriction base="xs:string"/>
        <xs:annotation><xs:appinfo><typeStr>Index to i3d node or i3d mapping identifier</typeStr></xs:appinfo></xs:annotation>
    </xs:simpleType>

    <xs:simpleType name="g_node_indices">
        <xs:annotation><xs:appinfo><typeStr>List of indices to i3d nodes or i3d mapping identifiers</typeStr></xs:appinfo></xs:annotation>
        <xs:restriction base="xs:string"/>
        <xs:annotation><xs:appinfo><typeStr>List of indices to i3d nodes or i3d mapping identifiers</typeStr></xs:appinfo></xs:annotation>
    </xs:simpleType>

    <xs:simpleType name="g_vector_2">
        <xs:annotation><xs:appinfo><typeStr>Multiple values (x, y)</typeStr></xs:appinfo></xs:annotation>
        <xs:restriction base="g_vector_float">
            <xs:pattern value="\S+ \S+"/>
        </xs:restriction>
        <xs:annotation><xs:appinfo><typeStr>Multiple values (x, y)</typeStr></xs:appinfo></xs:annotation>
    </xs:simpleType>

    <xs:simpleType name="g_vector_3">
        <xs:annotation><xs:appinfo><typeStr>Multiple values (x, y, z)</typeStr></xs:appinfo></xs:annotation>
        <xs:restriction base="g_vector_float">
            <xs:pattern value="\S+ \S+ \S+"/>
        </xs:restriction>
        <xs:annotation><xs:appinfo><typeStr>Multiple values (x, y, z)</typeStr></xs:appinfo></xs:annotation>
    </xs:simpleType>

    <xs:simpleType name="g_vector_4">
        <xs:annotation><xs:appinfo><typeStr>Multiple values (x, y, z, w)</typeStr></xs:appinfo></xs:annotation>
        <xs:restriction base="g_vector_float">
            <xs:pattern value="\S+ \S+ \S+ \S+"/>
        </xs:restriction>
        <xs:annotation><xs:appinfo><typeStr>Multiple values (x, y, z, w)</typeStr></xs:appinfo></xs:annotation>
    </xs:simpleType>

    <xs:simpleType name="g_vector_n">
        <xs:annotation><xs:appinfo><typeStr>Multiple values</typeStr></xs:appinfo></xs:annotation>
        <xs:restriction base="g_vector_float"/>
        <xs:annotation><xs:appinfo><typeStr>Multiple values</typeStr></xs:appinfo></xs:annotation>
    </xs:simpleType>

    <xs:simpleType name="g_vector_trans">
        <xs:annotation><xs:appinfo><typeStr>Translation values (x, y, z)</typeStr></xs:appinfo></xs:annotation>
        <xs:restriction base="g_vector_float">
            <xs:pattern value="\S+ \S+ \S+"/>
        </xs:restriction>
        <xs:annotation><xs:appinfo><typeStr>Translation values (x, y, z)</typeStr></xs:appinfo></xs:annotation>
    </xs:simpleType>

    <xs:simpleType name="g_vector_rot">
        <xs:annotation><xs:appinfo><typeStr>Rotation values (x, y, z)</typeStr></xs:appinfo></xs:annotation>
        <xs:restriction base="g_vector_float">
            <xs:pattern value="\S+ \S+ \S+"/>
        </xs:restriction>
        <xs:annotation><xs:appinfo><typeStr>Rotation values (x, y, z)</typeStr></xs:appinfo></xs:annotation>
    </xs:simpleType>

    <xs:simpleType name="g_vector_rot_2">
        <xs:annotation><xs:appinfo><typeStr>Rotation values (x, y)</typeStr></xs:appinfo></xs:annotation>
        <xs:restriction base="g_vector_float">
            <xs:pattern value="\S+ \S+"/>
        </xs:restriction>
        <xs:annotation><xs:appinfo><typeStr>Rotation values (x, y)</typeStr></xs:appinfo></xs:annotation>
    </xs:simpleType>

    <xs:simpleType name="g_vector_scale">
        <xs:annotation><xs:appinfo><typeStr>Scale values (x, y, z)</typeStr></xs:appinfo></xs:annotation>
        <xs:restriction base="g_vector_float">
            <xs:pattern value="\S+ \S+ \S+"/>
        </xs:restriction>
        <xs:annotation><xs:appinfo><typeStr>Scale values (x, y, z)</typeStr></xs:appinfo></xs:annotation>
    </xs:simpleType>

    <xs:simpleType name="g_color">
        <xs:annotation><xs:appinfo><typeStr>Color values (r, g, b) or brand color id</typeStr></xs:appinfo></xs:annotation>
        <xs:restriction base="xs:string"/>
        <xs:annotation><xs:appinfo><typeStr>Color values (r, g, b) or brand color id</typeStr></xs:appinfo></xs:annotation>
    </xs:simpleType>

    <xs:element name="motionPathEffects">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element name="motionPathEffect" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="customShaderDefaults" minOccurs="0" maxOccurs="1">
                                <xs:complexType>
                                    <xs:choice maxOccurs="unbounded">
                                        <xs:element name="customShaderMap" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:attribute name="filename" type="g_string">
                                                    <xs:annotation><xs:documentation xml:lang="en">Path to texture file</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="name" type="g_string">
                                                    <xs:annotation><xs:documentation xml:lang="en">Name of custom shader map</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="customShaderParameter" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:attribute name="name" type="g_string">
                                                    <xs:annotation><xs:documentation xml:lang="en">Name of shader parameter</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="value" type="g_vector_4">
                                                    <xs:annotation><xs:documentation xml:lang="en">Value of shader parameter</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="customShaderVariation" minOccurs="0" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:attribute name="name" type="g_string">
                                                    <xs:annotation><xs:documentation xml:lang="en">Shader variation to apply</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:choice>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="effectGeneration" minOccurs="0" maxOccurs="1">
                                <xs:complexType>
                                    <xs:attribute name="maxRot" type="g_vector_rot">
                                        <xs:annotation><xs:documentation xml:lang="en">(Only for automatic mesh generation) Max. random rotation</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="maxScale" type="g_vector_scale">
                                        <xs:annotation><xs:documentation xml:lang="en">(Only for automatic mesh generation) Max. random scale</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="minRot" type="g_vector_rot">
                                        <xs:annotation><xs:documentation xml:lang="en">(Only for automatic mesh generation) Min. random rotation</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="minScale" type="g_vector_scale">
                                        <xs:annotation><xs:documentation xml:lang="en">(Only for automatic mesh generation) Min. random scale</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="rootNode" type="g_node_index">
                                        <xs:annotation><xs:documentation xml:lang="en">(Only for automatic mesh generation) Mesh root node in maya file which has sub shapes</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="useFoliage" type="g_string">
                                        <xs:annotation><xs:documentation xml:lang="en">(Only for automatic mesh generation) Name of foliage</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="useFoliageLOD" type="g_int">
                                        <xs:annotation><xs:documentation xml:lang="en">(Only for automatic mesh generation) LOD to use</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="useFoliageStage" type="g_int">
                                        <xs:annotation><xs:documentation xml:lang="en">(Only for automatic mesh generation) Foliage growth state</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="effectMaterials" minOccurs="0" maxOccurs="1">
                                <xs:complexType>
                                    <xs:choice maxOccurs="unbounded">
                                        <xs:element name="effectMaterial" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:choice maxOccurs="unbounded">
                                                    <xs:element name="customShaderMap" minOccurs="0" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:attribute name="filename" type="g_string">
                                                                <xs:annotation><xs:documentation xml:lang="en">Path to texture file</xs:documentation></xs:annotation>
                                                            </xs:attribute>
                                                            <xs:attribute name="name" type="g_string">
                                                                <xs:annotation><xs:documentation xml:lang="en">Name of custom shader map</xs:documentation></xs:annotation>
                                                            </xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="customShaderParameter" minOccurs="0" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:attribute name="name" type="g_string">
                                                                <xs:annotation><xs:documentation xml:lang="en">Name of shader parameter</xs:documentation></xs:annotation>
                                                            </xs:attribute>
                                                            <xs:attribute name="value" type="g_vector_4">
                                                                <xs:annotation><xs:documentation xml:lang="en">Value of shader parameter</xs:documentation></xs:annotation>
                                                            </xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="customShaderVariation" minOccurs="0" maxOccurs="1">
                                                        <xs:complexType>
                                                            <xs:attribute name="name" type="g_string">
                                                                <xs:annotation><xs:documentation xml:lang="en">Shader variation to apply</xs:documentation></xs:annotation>
                                                            </xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="lod" minOccurs="0" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:attribute name="node" type="g_node_index">
                                                                <xs:annotation><xs:documentation xml:lang="en">LOD node</xs:documentation></xs:annotation>
                                                            </xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="textures" minOccurs="0" maxOccurs="1">
                                                        <xs:complexType>
                                                            <xs:attribute name="diffuse" type="g_string">
                                                                <xs:annotation><xs:documentation xml:lang="en">Path to custom diffuse map to apply</xs:documentation></xs:annotation>
                                                            </xs:attribute>
                                                            <xs:attribute name="normal" type="g_string">
                                                                <xs:annotation><xs:documentation xml:lang="en">Path to custom normal map to apply</xs:documentation></xs:annotation>
                                                            </xs:attribute>
                                                            <xs:attribute name="specular" type="g_string">
                                                                <xs:annotation><xs:documentation xml:lang="en">Path to custom specular map to apply</xs:documentation></xs:annotation>
                                                            </xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:choice>
                                                <xs:attribute name="densityScale" type="g_float" default="1">
                                                    <xs:annotation><xs:documentation xml:lang="en">Density of effect</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="fillTypes" type="g_string">
                                                    <xs:annotation><xs:documentation xml:lang="en">(TypedMotionPathEffect) Fill Type Names</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="fruitTypes" type="g_string">
                                                    <xs:annotation><xs:documentation xml:lang="en">(TypedMotionPathEffect) Fruit Type Names</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="growthStates" type="g_vector_n">
                                                    <xs:annotation><xs:documentation xml:lang="en">(TypedMotionPathEffect) All harvesting states of fruit type</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="materialType" type="g_string">
                                                    <xs:annotation><xs:documentation xml:lang="en">(TypedMotionPathEffect) Material Type</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="node" type="g_node_index">
                                                    <xs:annotation><xs:documentation xml:lang="en">Material node</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="speedScale" type="g_float" default="0.5">
                                                    <xs:annotation><xs:documentation xml:lang="en">Speed of effect</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:choice>
                                    <xs:attribute name="rootNode" type="g_node_index">
                                        <xs:annotation><xs:documentation xml:lang="en">(Only for automatic mesh generation) Node which will be copied over the effect i3d file (position index in i3d is then &apos;0|1&apos;)</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="effectMeshes" minOccurs="0" maxOccurs="1">
                                <xs:complexType>
                                    <xs:choice maxOccurs="unbounded">
                                        <xs:element name="effectMesh" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:choice maxOccurs="unbounded">
                                                    <xs:element name="customShaderMap" minOccurs="0" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:attribute name="filename" type="g_string">
                                                                <xs:annotation><xs:documentation xml:lang="en">Path to texture file</xs:documentation></xs:annotation>
                                                            </xs:attribute>
                                                            <xs:attribute name="name" type="g_string">
                                                                <xs:annotation><xs:documentation xml:lang="en">Name of custom shader map</xs:documentation></xs:annotation>
                                                            </xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="customShaderParameter" minOccurs="0" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:attribute name="name" type="g_string">
                                                                <xs:annotation><xs:documentation xml:lang="en">Name of shader parameter</xs:documentation></xs:annotation>
                                                            </xs:attribute>
                                                            <xs:attribute name="value" type="g_vector_4">
                                                                <xs:annotation><xs:documentation xml:lang="en">Value of shader parameter</xs:documentation></xs:annotation>
                                                            </xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="customShaderVariation" minOccurs="0" maxOccurs="1">
                                                        <xs:complexType>
                                                            <xs:attribute name="name" type="g_string">
                                                                <xs:annotation><xs:documentation xml:lang="en">Shader variation to apply</xs:documentation></xs:annotation>
                                                            </xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="lod" minOccurs="0" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:attribute name="distance" type="g_float">
                                                                <xs:annotation><xs:documentation xml:lang="en">(Only for automatic mesh generation) Distance of LOD</xs:documentation></xs:annotation>
                                                            </xs:attribute>
                                                            <xs:attribute name="skipPositions" type="g_int">
                                                                <xs:annotation><xs:documentation xml:lang="en">(Only for automatic mesh generation) Custom skip positions</xs:documentation></xs:annotation>
                                                            </xs:attribute>
                                                            <xs:attribute name="sourceNode" type="g_node_index">
                                                                <xs:annotation><xs:documentation xml:lang="en">(Only for automatic mesh generation) Custom node for LOD</xs:documentation></xs:annotation>
                                                            </xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:choice>
                                                <xs:attribute name="boundingBox" type="g_vector_scale">
                                                    <xs:annotation><xs:documentation xml:lang="en">(Only for automatic mesh generation) Size of bounding box</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="boundingBoxCenter" type="g_vector_trans">
                                                    <xs:annotation><xs:documentation xml:lang="en">(Only for automatic mesh generation) Center of bounding box</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="densityScale" type="g_float" default="1">
                                                    <xs:annotation><xs:documentation xml:lang="en">Density of effect</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="fillTypes" type="g_string">
                                                    <xs:annotation><xs:documentation xml:lang="en">(TypedMotionPathEffect) Fill Type Names</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="fruitTypes" type="g_string">
                                                    <xs:annotation><xs:documentation xml:lang="en">(TypedMotionPathEffect) Fruit Type Names</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="growthStates" type="g_vector_n">
                                                    <xs:annotation><xs:documentation xml:lang="en">(TypedMotionPathEffect) All harvesting states of fruit type</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="meshType" type="g_string">
                                                    <xs:annotation><xs:documentation xml:lang="en">(TypedMotionPathEffect) Mesh Type</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="node" type="g_node_index">
                                                    <xs:annotation><xs:documentation xml:lang="en">Index path in effect i3d</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="numRows" type="g_int" default="12">
                                                    <xs:annotation><xs:documentation xml:lang="en">Number of meshes on Y axis (on effect texture)</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="numVariations" type="g_int" default="1">
                                                    <xs:annotation><xs:documentation xml:lang="en">Number of sub random variations</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="rowLength" type="g_int" default="30">
                                                    <xs:annotation><xs:documentation xml:lang="en">Number of meshes on X axis (on effect texture)</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="skipPositions" type="g_int" default="0">
                                                    <xs:annotation><xs:documentation xml:lang="en">Number of skipped meshes on X axis</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="sourceNode" type="g_node_index">
                                                    <xs:annotation><xs:documentation xml:lang="en">(Only for automatic mesh generation) Index path to source object in maya file</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="speedScale" type="g_float" default="0.5">
                                                    <xs:annotation><xs:documentation xml:lang="en">Speed of effect</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:choice>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="typeDefinition" minOccurs="0" maxOccurs="1">
                                <xs:complexType>
                                    <xs:attribute name="densityScale" type="g_float" default="1">
                                        <xs:annotation><xs:documentation xml:lang="en">Density of effect</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="fillTypes" type="g_string">
                                        <xs:annotation><xs:documentation xml:lang="en">(TypedMotionPathEffect) Fill Type Names</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="fruitTypes" type="g_string">
                                        <xs:annotation><xs:documentation xml:lang="en">(TypedMotionPathEffect) Fruit Type Names</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="growthStates" type="g_vector_n">
                                        <xs:annotation><xs:documentation xml:lang="en">(TypedMotionPathEffect) All harvesting states of fruit type</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="speedScale" type="g_float" default="0.5">
                                        <xs:annotation><xs:documentation xml:lang="en">Speed of effect</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:all>
                        <xs:attribute name="effectClass" type="g_string">
                            <xs:annotation><xs:documentation xml:lang="en">Effect class name</xs:documentation></xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="effectType" type="g_string">
                            <xs:annotation><xs:documentation xml:lang="en">Effect type name (can be multiple)</xs:documentation></xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="filename" type="g_string">
                            <xs:annotation><xs:documentation xml:lang="en">Path to effects i3d file</xs:documentation></xs:annotation>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element name="parentFile" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="attributes" minOccurs="0" maxOccurs="1">
                                <xs:complexType>
                                    <xs:choice maxOccurs="unbounded">
                                        <xs:element name="clearList" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:attribute name="keepIndex" type="g_int">
                                                    <xs:annotation><xs:documentation xml:lang="en">Index of list to keep</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="path" type="g_string">
                                                    <xs:annotation><xs:documentation xml:lang="en">List to clear but keep one item</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="remove" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:attribute name="path" type="g_string">
                                                    <xs:annotation><xs:documentation xml:lang="en">Path to remove from parent xml</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="set" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:attribute name="path" type="g_string">
                                                    <xs:annotation><xs:documentation xml:lang="en">Path change in parent xml</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="value" type="g_string">
                                                    <xs:annotation><xs:documentation xml:lang="en">Target value to set in parent file</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:choice>
                                </xs:complexType>
                            </xs:element>
                        </xs:all>
                        <xs:attribute name="xmlFilename" type="g_string">
                            <xs:annotation><xs:documentation xml:lang="en">Remove vehicle if unit empty</xs:documentation></xs:annotation>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:choice>
        </xs:complexType>
    </xs:element>
</xs:schema>
