wheel.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="g_hyphen">
        <xs:restriction base="xs:string">
            <xs:pattern value="-"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="g_float_or_hyphen">
        <xs:union memberTypes="xs:float g_hyphen"/>
    </xs:simpleType>

    <xs:simpleType name="g_vector_float">
        <xs:list itemType="g_float_or_hyphen"/>
    </xs:simpleType>

    <xs:simpleType name="g_string">
        <xs:annotation><xs:appinfo><typeStr>String</typeStr></xs:appinfo></xs:annotation>
        <xs:restriction base="xs:string"/>
        <xs:annotation><xs:appinfo><typeStr>String</typeStr></xs:appinfo></xs:annotation>
    </xs:simpleType>

    <xs:simpleType name="g_l10n_string">
        <xs:annotation><xs:appinfo><typeStr>String or l10n key</typeStr></xs:appinfo></xs:annotation>
        <xs:restriction base="xs:string"/>
        <xs:annotation><xs:appinfo><typeStr>String or l10n key</typeStr></xs:appinfo></xs:annotation>
    </xs:simpleType>

    <xs:simpleType name="g_float">
        <xs:annotation><xs:appinfo><typeStr>Float</typeStr></xs:appinfo></xs:annotation>
        <xs:restriction base="xs:float"/>
        <xs:annotation><xs:appinfo><typeStr>Float</typeStr></xs:appinfo></xs:annotation>
    </xs:simpleType>

    <xs:simpleType name="g_angle">
        <xs:annotation><xs:appinfo><typeStr>Angle</typeStr></xs:appinfo></xs:annotation>
        <xs:restriction base="xs:float"/>
        <xs:annotation><xs:appinfo><typeStr>Angle</typeStr></xs:appinfo></xs:annotation>
    </xs:simpleType>

    <xs:simpleType name="g_time">
        <xs:annotation><xs:appinfo><typeStr>Time in seconds</typeStr></xs:appinfo></xs:annotation>
        <xs:restriction base="xs:float"/>
        <xs:annotation><xs:appinfo><typeStr>Time in seconds</typeStr></xs:appinfo></xs:annotation>
    </xs:simpleType>

    <xs:simpleType name="g_int">
        <xs:annotation><xs:appinfo><typeStr>Integer</typeStr></xs:appinfo></xs:annotation>
        <xs:restriction base="xs:integer"/>
        <xs:annotation><xs:appinfo><typeStr>Integer</typeStr></xs:appinfo></xs:annotation>
    </xs:simpleType>

    <xs:simpleType name="g_bool">
        <xs:annotation><xs:appinfo><typeStr>Boolean</typeStr></xs:appinfo></xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="true|false"/>
        </xs:restriction>
        <xs:annotation><xs:appinfo><typeStr>Boolean</typeStr></xs:appinfo></xs:annotation>
    </xs:simpleType>

    <xs:simpleType name="g_node_index">
        <xs:annotation><xs:appinfo><typeStr>Index to i3d node or i3d mapping identifier</typeStr></xs:appinfo></xs:annotation>
        <xs:restriction base="xs:string"/>
        <xs:annotation><xs:appinfo><typeStr>Index to i3d node or i3d mapping identifier</typeStr></xs:appinfo></xs:annotation>
    </xs:simpleType>

    <xs:simpleType name="g_node_indices">
        <xs:annotation><xs:appinfo><typeStr>List of indices to i3d nodes or i3d mapping identifiers</typeStr></xs:appinfo></xs:annotation>
        <xs:restriction base="xs:string"/>
        <xs:annotation><xs:appinfo><typeStr>List of indices to i3d nodes or i3d mapping identifiers</typeStr></xs:appinfo></xs:annotation>
    </xs:simpleType>

    <xs:simpleType name="g_vector_2">
        <xs:annotation><xs:appinfo><typeStr>Multiple values (x, y)</typeStr></xs:appinfo></xs:annotation>
        <xs:restriction base="g_vector_float">
            <xs:pattern value="\S+ \S+"/>
        </xs:restriction>
        <xs:annotation><xs:appinfo><typeStr>Multiple values (x, y)</typeStr></xs:appinfo></xs:annotation>
    </xs:simpleType>

    <xs:simpleType name="g_vector_3">
        <xs:annotation><xs:appinfo><typeStr>Multiple values (x, y, z)</typeStr></xs:appinfo></xs:annotation>
        <xs:restriction base="g_vector_float">
            <xs:pattern value="\S+ \S+ \S+"/>
        </xs:restriction>
        <xs:annotation><xs:appinfo><typeStr>Multiple values (x, y, z)</typeStr></xs:appinfo></xs:annotation>
    </xs:simpleType>

    <xs:simpleType name="g_vector_4">
        <xs:annotation><xs:appinfo><typeStr>Multiple values (x, y, z, w)</typeStr></xs:appinfo></xs:annotation>
        <xs:restriction base="g_vector_float">
            <xs:pattern value="\S+ \S+ \S+ \S+"/>
        </xs:restriction>
        <xs:annotation><xs:appinfo><typeStr>Multiple values (x, y, z, w)</typeStr></xs:appinfo></xs:annotation>
    </xs:simpleType>

    <xs:simpleType name="g_vector_n">
        <xs:annotation><xs:appinfo><typeStr>Multiple values</typeStr></xs:appinfo></xs:annotation>
        <xs:restriction base="g_vector_float"/>
        <xs:annotation><xs:appinfo><typeStr>Multiple values</typeStr></xs:appinfo></xs:annotation>
    </xs:simpleType>

    <xs:simpleType name="g_vector_trans">
        <xs:annotation><xs:appinfo><typeStr>Translation values (x, y, z)</typeStr></xs:appinfo></xs:annotation>
        <xs:restriction base="g_vector_float">
            <xs:pattern value="\S+ \S+ \S+"/>
        </xs:restriction>
        <xs:annotation><xs:appinfo><typeStr>Translation values (x, y, z)</typeStr></xs:appinfo></xs:annotation>
    </xs:simpleType>

    <xs:simpleType name="g_vector_rot">
        <xs:annotation><xs:appinfo><typeStr>Rotation values (x, y, z)</typeStr></xs:appinfo></xs:annotation>
        <xs:restriction base="g_vector_float">
            <xs:pattern value="\S+ \S+ \S+"/>
        </xs:restriction>
        <xs:annotation><xs:appinfo><typeStr>Rotation values (x, y, z)</typeStr></xs:appinfo></xs:annotation>
    </xs:simpleType>

    <xs:simpleType name="g_vector_rot_2">
        <xs:annotation><xs:appinfo><typeStr>Rotation values (x, y)</typeStr></xs:appinfo></xs:annotation>
        <xs:restriction base="g_vector_float">
            <xs:pattern value="\S+ \S+"/>
        </xs:restriction>
        <xs:annotation><xs:appinfo><typeStr>Rotation values (x, y)</typeStr></xs:appinfo></xs:annotation>
    </xs:simpleType>

    <xs:simpleType name="g_vector_scale">
        <xs:annotation><xs:appinfo><typeStr>Scale values (x, y, z)</typeStr></xs:appinfo></xs:annotation>
        <xs:restriction base="g_vector_float">
            <xs:pattern value="\S+ \S+ \S+"/>
        </xs:restriction>
        <xs:annotation><xs:appinfo><typeStr>Scale values (x, y, z)</typeStr></xs:appinfo></xs:annotation>
    </xs:simpleType>

    <xs:simpleType name="g_color">
        <xs:annotation><xs:appinfo><typeStr>Color values (r, g, b) or brand color id</typeStr></xs:appinfo></xs:annotation>
        <xs:restriction base="xs:string"/>
        <xs:annotation><xs:appinfo><typeStr>Color values (r, g, b) or brand color id</typeStr></xs:appinfo></xs:annotation>
    </xs:simpleType>

    <xs:element name="wheel">
        <xs:complexType>
            <xs:all>
                <xs:element name="brand" type="g_string" minOccurs="0">
                    <xs:annotation><xs:documentation xml:lang="en">Wheel tire brand</xs:documentation></xs:annotation>
                </xs:element>
                <xs:element name="configurations" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:choice maxOccurs="unbounded">
                            <xs:element name="configuration" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element name="additional" minOccurs="0" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:attribute name="filename" type="g_string">
                                                    <xs:annotation><xs:documentation xml:lang="en">Path to additional i3d</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="mass" type="g_float">
                                                    <xs:annotation><xs:documentation xml:lang="en">Additional mass (to.)</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="node" type="g_string">
                                                    <xs:annotation><xs:documentation xml:lang="en">Additional node index in i3d file</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="nodeLeft" type="g_string">
                                                    <xs:annotation><xs:documentation xml:lang="en">Additional node left index in i3d file</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="nodeRight" type="g_string">
                                                    <xs:annotation><xs:documentation xml:lang="en">Additional node right index in i3d file</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="offset" type="g_float" default="0">
                                                    <xs:annotation><xs:documentation xml:lang="en">Additional node offset</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="scale" type="g_vector_scale">
                                                    <xs:annotation><xs:documentation xml:lang="en">Additional node scale</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="widthAndDiam" type="g_vector_2">
                                                    <xs:annotation><xs:documentation xml:lang="en">Width and diameter</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="innerRim" minOccurs="0" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:attribute name="filename" type="g_string">
                                                    <xs:annotation><xs:documentation xml:lang="en">Path to inner rim i3d file</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="node" type="g_string" default="0|0">
                                                    <xs:annotation><xs:documentation xml:lang="en">Inner rim node index in i3d file</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="nodeLeft" type="g_string">
                                                    <xs:annotation><xs:documentation xml:lang="en">Inner rim node left index in i3d file</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="nodeRight" type="g_string">
                                                    <xs:annotation><xs:documentation xml:lang="en">Inner rim node right index in i3d file</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="offset" type="g_float" default="0">
                                                    <xs:annotation><xs:documentation xml:lang="en">Inner rim offset</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="scale" type="g_vector_scale">
                                                    <xs:annotation><xs:documentation xml:lang="en">Inner rim scale</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="widthAndDiam" type="g_vector_2">
                                                    <xs:annotation><xs:documentation xml:lang="en">Width and diameter</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="outerRim" minOccurs="0" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:attribute name="filename" type="g_string">
                                                    <xs:annotation><xs:documentation xml:lang="en">Path to outer rim i3d file</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="node" type="g_string" default="0|0">
                                                    <xs:annotation><xs:documentation xml:lang="en">Outer rim node index in i3d file</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="nodeLeft" type="g_string" default="0|0">
                                                    <xs:annotation><xs:documentation xml:lang="en">Outer rim node left index in i3d file</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="nodeRight" type="g_string" default="0|0">
                                                    <xs:annotation><xs:documentation xml:lang="en">Outer rim node right index in i3d file</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="scale" type="g_vector_scale">
                                                    <xs:annotation><xs:documentation xml:lang="en">Outer rim scale</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="widthAndDiam" type="g_vector_2">
                                                    <xs:annotation><xs:documentation xml:lang="en">Width and diameter</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="physics" minOccurs="0" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:attribute name="frictionScale" type="g_float">
                                                    <xs:annotation><xs:documentation xml:lang="en">Friction scale</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="mass" type="g_float" default="0.1">
                                                    <xs:annotation><xs:documentation xml:lang="en">Wheel mass (to.)</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="maxLatStiffness" type="g_float">
                                                    <xs:annotation><xs:documentation xml:lang="en">Max. latitude stiffness</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="maxLatStiffnessLoad" type="g_float">
                                                    <xs:annotation><xs:documentation xml:lang="en">Max. latitude stiffness load</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="maxLongStiffness" type="g_float">
                                                    <xs:annotation><xs:documentation xml:lang="en">Max. longitude stiffness</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="radius" type="g_float">
                                                    <xs:annotation><xs:documentation xml:lang="en">Wheel radius</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="smoothGroundRadius" type="g_float">
                                                    <xs:annotation><xs:documentation xml:lang="en">Smooth ground radius</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="tireType" type="g_string">
                                                    <xs:annotation><xs:documentation xml:lang="en">Tire type (mud, offRoad, street, crawler)</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="width" type="g_float">
                                                    <xs:annotation><xs:documentation xml:lang="en">Wheel width</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="tire" minOccurs="0" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:attribute name="filename" type="g_string">
                                                    <xs:annotation><xs:documentation xml:lang="en">Path to tire i3d file</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="initialDeformation" type="g_float">
                                                    <xs:annotation><xs:documentation xml:lang="en">Tire deformation at initial compression value</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="isCareWheel" type="g_bool">
                                                    <xs:annotation><xs:documentation xml:lang="en">Is care wheel</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="isInverted" type="g_bool">
                                                    <xs:annotation><xs:documentation xml:lang="en">Tire profile is inverted</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="maxDeformation" type="g_float" default="0">
                                                    <xs:annotation><xs:documentation xml:lang="en">Max. deformation</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="node" type="g_string">
                                                    <xs:annotation><xs:documentation xml:lang="en">Node Index inside tire i3d</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="nodeLeft" type="g_string">
                                                    <xs:annotation><xs:documentation xml:lang="en">Left node index inside tire i3d</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="nodeRight" type="g_string">
                                                    <xs:annotation><xs:documentation xml:lang="en">Right node index inside tire i3d</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="sideDeformOffset" type="g_float" default="1">
                                                    <xs:annotation><xs:documentation xml:lang="en">Offset from lowerst point in center to lowerest point on the side in percentage (0.95: Radius on the side is 5% smaller than in the center)</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="tireTrackAtlasIndex" type="g_float" default="0">
                                                    <xs:annotation><xs:documentation xml:lang="en">Tire track atlas index</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="widthOffset" type="g_float" default="0">
                                                    <xs:annotation><xs:documentation xml:lang="en">Width offset</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="xOffset" type="g_float" default="0">
                                                    <xs:annotation><xs:documentation xml:lang="en">X offset</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:all>
                                    <xs:attribute name="id" type="g_string">
                                        <xs:annotation><xs:documentation xml:lang="en">Configuration Id</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
                <xs:element name="default" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="additional" minOccurs="0" maxOccurs="1">
                                <xs:complexType>
                                    <xs:attribute name="filename" type="g_string">
                                        <xs:annotation><xs:documentation xml:lang="en">Path to additional i3d</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="mass" type="g_float">
                                        <xs:annotation><xs:documentation xml:lang="en">Additional mass (to.)</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="node" type="g_string">
                                        <xs:annotation><xs:documentation xml:lang="en">Additional node index in i3d file</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="nodeLeft" type="g_string">
                                        <xs:annotation><xs:documentation xml:lang="en">Additional node left index in i3d file</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="nodeRight" type="g_string">
                                        <xs:annotation><xs:documentation xml:lang="en">Additional node right index in i3d file</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="offset" type="g_float" default="0">
                                        <xs:annotation><xs:documentation xml:lang="en">Additional node offset</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="scale" type="g_vector_scale">
                                        <xs:annotation><xs:documentation xml:lang="en">Additional node scale</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="widthAndDiam" type="g_vector_2">
                                        <xs:annotation><xs:documentation xml:lang="en">Width and diameter</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="innerRim" minOccurs="0" maxOccurs="1">
                                <xs:complexType>
                                    <xs:attribute name="filename" type="g_string">
                                        <xs:annotation><xs:documentation xml:lang="en">Path to inner rim i3d file</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="node" type="g_string" default="0|0">
                                        <xs:annotation><xs:documentation xml:lang="en">Inner rim node index in i3d file</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="nodeLeft" type="g_string">
                                        <xs:annotation><xs:documentation xml:lang="en">Inner rim node left index in i3d file</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="nodeRight" type="g_string">
                                        <xs:annotation><xs:documentation xml:lang="en">Inner rim node right index in i3d file</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="offset" type="g_float" default="0">
                                        <xs:annotation><xs:documentation xml:lang="en">Inner rim offset</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="scale" type="g_vector_scale">
                                        <xs:annotation><xs:documentation xml:lang="en">Inner rim scale</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="widthAndDiam" type="g_vector_2">
                                        <xs:annotation><xs:documentation xml:lang="en">Width and diameter</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="outerRim" minOccurs="0" maxOccurs="1">
                                <xs:complexType>
                                    <xs:attribute name="filename" type="g_string">
                                        <xs:annotation><xs:documentation xml:lang="en">Path to outer rim i3d file</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="node" type="g_string" default="0|0">
                                        <xs:annotation><xs:documentation xml:lang="en">Outer rim node index in i3d file</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="nodeLeft" type="g_string" default="0|0">
                                        <xs:annotation><xs:documentation xml:lang="en">Outer rim node left index in i3d file</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="nodeRight" type="g_string" default="0|0">
                                        <xs:annotation><xs:documentation xml:lang="en">Outer rim node right index in i3d file</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="scale" type="g_vector_scale">
                                        <xs:annotation><xs:documentation xml:lang="en">Outer rim scale</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="widthAndDiam" type="g_vector_2">
                                        <xs:annotation><xs:documentation xml:lang="en">Width and diameter</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="physics" minOccurs="0" maxOccurs="1">
                                <xs:complexType>
                                    <xs:attribute name="frictionScale" type="g_float">
                                        <xs:annotation><xs:documentation xml:lang="en">Friction scale</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="mass" type="g_float" default="0.1">
                                        <xs:annotation><xs:documentation xml:lang="en">Wheel mass (to.)</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="maxLatStiffness" type="g_float">
                                        <xs:annotation><xs:documentation xml:lang="en">Max. latitude stiffness</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="maxLatStiffnessLoad" type="g_float">
                                        <xs:annotation><xs:documentation xml:lang="en">Max. latitude stiffness load</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="maxLongStiffness" type="g_float">
                                        <xs:annotation><xs:documentation xml:lang="en">Max. longitude stiffness</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="radius" type="g_float">
                                        <xs:annotation><xs:documentation xml:lang="en">Wheel radius</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="smoothGroundRadius" type="g_float">
                                        <xs:annotation><xs:documentation xml:lang="en">Smooth ground radius</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="tireType" type="g_string">
                                        <xs:annotation><xs:documentation xml:lang="en">Tire type (mud, offRoad, street, crawler)</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="width" type="g_float">
                                        <xs:annotation><xs:documentation xml:lang="en">Wheel width</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="tire" minOccurs="0" maxOccurs="1">
                                <xs:complexType>
                                    <xs:attribute name="filename" type="g_string">
                                        <xs:annotation><xs:documentation xml:lang="en">Path to tire i3d file</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="initialDeformation" type="g_float">
                                        <xs:annotation><xs:documentation xml:lang="en">Tire deformation at initial compression value</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="isCareWheel" type="g_bool">
                                        <xs:annotation><xs:documentation xml:lang="en">Is care wheel</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="isInverted" type="g_bool">
                                        <xs:annotation><xs:documentation xml:lang="en">Tire profile is inverted</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="maxDeformation" type="g_float" default="0">
                                        <xs:annotation><xs:documentation xml:lang="en">Max. deformation</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="node" type="g_string">
                                        <xs:annotation><xs:documentation xml:lang="en">Node Index inside tire i3d</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="nodeLeft" type="g_string">
                                        <xs:annotation><xs:documentation xml:lang="en">Left node index inside tire i3d</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="nodeRight" type="g_string">
                                        <xs:annotation><xs:documentation xml:lang="en">Right node index inside tire i3d</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="sideDeformOffset" type="g_float" default="1">
                                        <xs:annotation><xs:documentation xml:lang="en">Offset from lowerst point in center to lowerest point on the side in percentage (0.95: Radius on the side is 5% smaller than in the center)</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="tireTrackAtlasIndex" type="g_float" default="0">
                                        <xs:annotation><xs:documentation xml:lang="en">Tire track atlas index</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="widthOffset" type="g_float" default="0">
                                        <xs:annotation><xs:documentation xml:lang="en">Width offset</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="xOffset" type="g_float" default="0">
                                        <xs:annotation><xs:documentation xml:lang="en">X offset</xs:documentation></xs:annotation>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
                <xs:element name="name" type="g_string" minOccurs="0">
                    <xs:annotation><xs:documentation xml:lang="en">Wheel tire name</xs:documentation></xs:annotation>
                </xs:element>
                <xs:element name="parentFile" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="attributes" minOccurs="0" maxOccurs="1">
                                <xs:complexType>
                                    <xs:choice maxOccurs="unbounded">
                                        <xs:element name="clearList" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:attribute name="keepIndex" type="g_int">
                                                    <xs:annotation><xs:documentation xml:lang="en">Index of list to keep</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="path" type="g_string">
                                                    <xs:annotation><xs:documentation xml:lang="en">List to clear but keep one item</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="remove" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:attribute name="path" type="g_string">
                                                    <xs:annotation><xs:documentation xml:lang="en">Path to remove from parent xml</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="set" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:attribute name="path" type="g_string">
                                                    <xs:annotation><xs:documentation xml:lang="en">Path change in parent xml</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                                <xs:attribute name="value" type="g_string">
                                                    <xs:annotation><xs:documentation xml:lang="en">Target value to set in parent file</xs:documentation></xs:annotation>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:choice>
                                </xs:complexType>
                            </xs:element>
                        </xs:all>
                        <xs:attribute name="xmlFilename" type="g_string">
                            <xs:annotation><xs:documentation xml:lang="en">Remove vehicle if unit empty</xs:documentation></xs:annotation>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:all>
        </xs:complexType>
    </xs:element>
</xs:schema>
